.content {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin: 60px 0 20px;
  font-size: 48px;
}

.subheader {
  text-align: center;
  font-size: 22px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}