.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin: 60px 0 30px;
  font-size: 58px;
}

.subheader {
  font-size: 28px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

svg.fireIcon {
  margin-left: 10px;
  font-size: 28px;
}

.quote {
  font-size: 18px;
  border-left: 2px solid #333;
  padding-left: 12px;
  max-width: 600px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}