@import "../../../../styles/common.module.scss";

.listItem {
    @include paper;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    transition: 0.3s;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.listItem:hover {
    .listItemActions {
        display: flex;
    }
}

.listItem:focus {
    .listItemActions {
        display: flex;
    }
}

.imageColumn {
    @include bckgrCover;
    height: 60px;
    width: 90px;
}

.listItem:hover {
    background-color: #f4f4f4;
}

.columns {
    display: flex;
    width: calc(100% - 63px);
}

.column {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.imageItem {
    max-width: 80px;
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: cover;
}

.listItemActions {
    display: none;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:global(.modeDark) {
    .listItem {
        background-color: #333;
        border-bottom: 1px solid #333;

        * {
            color: #eee;
        }
    }

    .listItemActions {
        background-color: rgba(0, 0, 0, 0.4);
    }
}