@import "../../styles/common.module.scss";

.ProductReviewList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 300px;
}

.list {
    @include styledScrollBarList;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.listHeader {
    @include paper;
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.filter {
    display: flex;
    align-items: center;
    // padding: 10px 15px;
    flex-wrap: wrap;
}

.pageActions {
    margin-right: 10px;
}

.listWrapper {
    min-height: 400px;
    height: 100%;
    width: 100%;
}

.paginationContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    @include paper;
    padding: 5px 10px;
}

div.filterItem {
    margin: 10px;
    width: 150px;
}

.itemToView {
    @include paper;
    background-color: #fff;
    padding: 20px;
    min-height: 250px;
    min-width: 400px;
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;

    .itemToViewHeader {
        display: flex;
        align-items: center;
    }

    .userName {
        font-weight: 600;
        margin-right: 15px;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
        max-width: 600px;
    }

    .description {
        font-size: 16px;
        max-width: 600px;
    }

    .approveBtn {
        margin-top: 15px;
    }

    .productToView {
        margin-top: 30px;
    }
}

:global(.modeDark) {
    .itemToView,
    .listHeader {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .rating,
    .rating * {
        color: #fdcf63;

        :global(.MuiRating-iconEmpty) {
            color: #666;
            * {
                color: #666;
            }
        }
    }
}
