@import "../../styles/common.module.scss";

.ConfirmationModal {
    @include paperElevated;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    outline: none;

    .text {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 25px;
        font-family: "Roboto", "sans-serif";
    }

    .actions {
        display: flex;
    }

    .actionBtn {
        margin: 0 15px 0 0;
    }
}

.modalCover {
}

:global(.modeDark) {
    .ConfirmationModal {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}
