.ProductActions {
    // display: flex;
    // flex-wrap: wrap;
    position: relative;
    border-top: 1px solid #bbb;
    padding-top: 15px;

    .actionButton {
        margin: 0 15px 15px 0;
    }

    .cartAndAMountBlock {
        display: flex;
        flex-wrap: wrap;
    }

    .amountPicker {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    .amountInput {
        width: 50px;
        input {
            text-align: center;
        }
    }
}