.text {
  font-family: "Roboto", "sans-serif";
}

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin paper {
  // box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.03), 0 0 6px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 11px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 5px;
}

@mixin paperElevated {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 20px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

.paper {
  @include paper;
}

@mixin styledScrollBar {
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7f7f7f;
    outline: none;
    border-radius: 30px;
  }
}

@mixin bckgrCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bckgrContain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon {
  @include bckgrContain;
  width: 24px;
  height: 24px;
}

:global(.MuiButtonBase-root.MuiIconButton-root) {
  color: #333;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageHeader {
  display: inline-block;
}

.pageContent {
  display: inline-block;
  height: 100%;
  overflow: auto;
}
