@import "./variables.scss";

* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

:global(.MuiButtonBase-root.MuiIconButton-root) {
    color: #333;
}

:global(div.react-grid-item.react-grid-placeholder) {
    background-color: $primaryColor;
    border-radius: 5px;
}