@import "../../../../constants/constants.scss";

.BaseBlock {
    // display: flex;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.actions {
    display: flex;
    position: absolute;
    top: -41px;
    left: -10px;
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05), 0 0 8px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    padding-left: 5px;
    color: #111;
    pointer-events: all;
}

.typeIcon {
    padding: 6px 16px;
}

.headerIcon {
    margin-left: 5px;
}

.bottomActions {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -28px;
    left: calc(50% - 24px);
    pointer-events: all;
}

.addIcon {
    background-color: rgba(255, 255, 255, 0.6);
    color: $builderPrimary;
    border-radius: 100%;
}

.action {
    padding: 5px;
}

.widgetsContainer {
    padding: 10px;
    max-height: 60vh;
    width: 400px;
}

.settingsContent {
    max-height: 60vh;
    width: 400px;
    padding: 10px;
}

.settingsHeader {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.settingsTitle {
    font-size: 20px;
    font-weight: 500;
    margin-left: 6px;
}

.widgetsContainer .widgetItem {
    // border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px 7px;
    width: 100%;
    display: flex;
    align-items: center;

    >p {
        margin-left: 4px;
    }
}

div.textField {
    color: inherit;

    >div {
        color: inherit;
    }
}

div.settingsInput {
    margin-bottom: 15px;
    min-width: 100px;
}

.containerSettings {
    display: flex;
    flex-direction: column;
}

.pluginText {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    color: #222;
}