@import "../../../../constants/constants.scss";

.BaseBlock {
    // display: flex;
    position: relative;
}

.actions {
    display: flex;
    position: absolute;
    top: -46px;
    left: -10px;
    background-color: #fff;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05), 0 0 8px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    padding-left: 5px;
    color: #111;
}

.bottomActions {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -33px;
    left: calc(50% - 24px);
}

.addIcon {
    background-color: #fff;
    color: $builderPrimary;
    border-radius: 100%;
}

.action {
    padding: 5px;
}

.widgetsContainer {
    padding: 10px;
    max-height: 60vh;
    width: 400px;
}

.widgetsContainer .widgetItem {
    // border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px 7px;
    width: 100%;
    display: flex;
    align-items: center;

    > p {
        margin-left: 4px;
    }
}

div.textField {
    color: inherit;
    > div {
        color: inherit;
    }
}
