body .pageItem {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
}
.pageItemActions {
    display: flex;
    margin-left: 20px;
}