.ProductAttributes {
  position: relative;

  .attribute {
    margin: 10px 0;
    width: 100%;
  }

  .headerWrapper {
    width: 100%;
    margin-bottom: 5px;
  }

  .valuesWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .attrValue {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
  }

  .attrValueChecked {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
  }

  .attrValueIcon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
}