@import "../../../styles/common.module.scss";

div.popover {
    @include paperElevated;
}

.PostSettings {
    padding: 20px;
    width: 400px;
    max-height: 93vh;
    max-width: 100vw;
    overflow: auto;
    display: inline-block;
    position: relative;
    @include styledScrollBar;

    .settingItem {
        margin-bottom: 20px;
    }

    .imageBox {
        @extend .settingItem;
    }

    .closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 3;
    }

    .headerText {
        @extend .settingItem;
        font-size: 20px;
        font-weight: 500;
    }
}

// :global(div.tc-wrap) {
//     height: auto;
// }

:global(.MuiPickersDay-daySelected) p {
    color: #fff;
}

:global(.modeDark) {
    div.popover {
        background-color: #222;

        * {
            color: #eee;
        }
    }

    :global(.MuiChip-root.MuiAutocomplete-tag) {
        background-color: #444;

        * {
            color: #eee;
        }
    }
}