@import "../../styles/variables.scss";
@import "../../styles/common.module.scss";

.container {
    // background: #009625;
    display: flex;
    align-items: center;
}

.toast {
    background-color: transparent;
    padding: 0;
    min-height: 30px;

    :global(.Toastify__toast-body) {
        margin: 0;
    }

    :global(.Toastify__close-button) {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #111;
    }
}

div.alert {
    width: 100%;
    font-size: 16px;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 15px;

    :global(.MuiAlert-icon) {
        padding: 0;
    }
    :global(.MuiAlert-message) {
        padding: 0;
    }
}

.Toastify__toast--warning {
}
.Toastify__toast--error {
}
