@import "../../../styles/common.module.scss";
@import "../../../styles/variables.scss";

.sidebar {
    @include paperElevated;
    position: fixed !important;
    z-index: 1008 !important;
}

.sidebarPaper {
    @include paperElevated;
    @include styledScrollBar;
    max-width: 300px;
    position: fixed !important;
    min-width: 300px;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.actions {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;

    > div {
        display: flex;
    }
}

.sidebarCloseBtn {
    position: absolute;
    top: 5px;
    right: 0;
}

.settings {
    padding: 15px;
}

:global(.modeDark) {
    .sidebar {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .sidebarPaper {
        background-color: #333;
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    // mobile
    .sidebarPaper {
        padding-top: 70px;
    }
    .sidebarCloseBtn {
        top: 75px;
    }
}
