.SignIn {
  box-sizing: border-box;
}

.signInField {
  margin: 8px 0;
}

.forgotPassButton {
  cursor: pointer;
  margin: 15px 0;
}

.backToSignInButton {
  cursor: pointer;
  margin: 15px 0;
}

.signInSubmitBtn {
  margin-top: 10px;
}
