.CartListItem {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.CartListItem:last-child {
    border-bottom: 0;
}

.imageBlock {
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    padding: 0 5px 0 0;
}

.imageLink {
    width: 100%;
    height: 100%;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.captionBlock {
    min-width: 200px;
    max-width: 200px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

.productName {
    font-size: 1em;
    margin: 0;
    line-height: 1.5;
}

.priceBlock {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    margin: 6px 0;
    padding: 0 5px;
}

.price {
    margin: 0;
    font-weight: 400;
}

.oldPrice {
    text-decoration: line-through;
    opacity: 0.7;
    margin: 0;
    margin-right: 10px;
}

.attributesBlock {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.actionsBlock {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 5px;
}

.attributeValue {
    margin: 0;
}