div.swiperWrapper {
    height: auto;
}

.swiperContainer {
    width: 100%;
    height: auto;

    :global(.swiper-pagination) {
        :global(.swiper-pagination-bullet) {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 0.6;
            border: 1px solid #bbb;

            &:global(.swiper-pagination-bullet-active) {
                background-color: #000;
                opacity: 0.4;
            }
        }
    }
}

.swiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiperImage {
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.swiperThumb {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.swiperThumbActive {
    // border: 1px solid #ddd;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
}

.swiperZommedIn {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
}

.swiperPagination {
    position: relative;
    // background-color: rgba(0,0,0,0.1);
    // padding: 5px;
    // border-radius: 10px;
}
