@mixin paper {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04), 0 0 10px 3px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 5px;
}

.paper {
    @include paper;
}

@mixin paperElevated {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 20px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 5px;
}