@import "../../styles/common.module.scss";

.TagList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.list {
    @include styledScrollBar;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.listHeader {
    display: flex;
    background: #fff;
    margin-bottom: 13px;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: center;
    // padding: 10px 15px;
    flex-wrap: wrap;
}

.pageActions {
    margin-right: 10px;
}

.listWrapper {
    min-height: 400px;
    height: 100%;
    width: 100%;
}

.paginationContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    @include paper;
    padding: 5px 10px;
}

div.filterItem {
    margin: 10px;
    width: 150px;
}

:global(.modeDark) {
    .listHeader,
    .pagination {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}
