.ProductActions {
    // display: flex;
    // flex-wrap: wrap;
    position: relative;

    .actionButton {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .cartAndAMountBlock {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 5px;
    }

    .amountPicker {
        display: flex;
        align-items: center;
        margin-left: 15px;
        margin-bottom: 10px;
        // border: 1px solid #ccc;
        // border-radius: 30px;
    }
    .amountInput {
        width: 140px;
        // border: none;
        // outline: none;
        font-size: 20px;
        text-align: center;
        input {
            text-align: center;
        }
    }
}

.productAttributesBlock {
    margin: 5px 0;
    border-bottom: 1px solid #bbb;
    margin-bottom: 15px;
}

body .attrValue {
    margin-right: 10px;
    margin-bottom: 10px;
}

body .attrValueChecked {
    box-shadow: none;
    border: 2px solid #333;
}

.attrValueIcon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.validateAttributes {
    .invalidAttrTitle {
        color: #aa2e25;
        font-weight: 500;
    }

    .invalidAttrValue {
        background-color: #ff000021;
        border: 2px solid #d9443a;

        .attrValueText {
            color: #aa2e25;
        }
    }
}
