.marker {
    background: rgba(245, 235, 111, 0.29);
    padding: 3px 0;
}

:global(.fontSize) {
    position: relative;
}

.inputFontSize {
    width: 42px;
}

.fontSizeWrapper {
    padding: 8px;
}
