@import "../variables.scss";
@import "../common.module.scss";

.BlogPost {
    @include paper;
    box-shadow: none;
    padding: 30px;
    margin: 30px auto;
}

.postContent {
    max-width: 700px;
    margin: 0 auto;
}

.postTitle {
    font-weight: 500;
    font-size: 30px;
    margin: 10px 0;
}

.mainImage {
    width: 100%;
    object-fit: cover;
    height: 400px;
    margin-bottom: 20px;
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    font-size: 30px;
}

.postInfo {
    margin: 15px 0;
}
