.Pages {
    h1 {
        font-size: 24px;
        font-weight: 500;
        margin: 8px 0;
    }
    h2 {
        font-size: 20px;
        font-weight: 500;
        margin: 8px 0;
    }
    h3 {
        font-size: 18px;
        font-weight: 500;
        margin: 8px 0;
    }

    p {
        margin: 8px 0;
    }
}
