.QuantityField {
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  padding: 0;

  > div {
    border-radius: 30px;
    padding: 0;
  }

  input {
    text-align: center;
    width: 20px;
  }
}

.controlButton {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 24px;
  }
}
