.Header {
    display: flex;
    width: 100%;

    .topPanel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;
    }

    .leftBlock {
        display: flex;
    }

    .currencyOption {
        display: flex;
    }

    .languageOption {
        display: flex;
    }

    .rightBlock {
        display: flex;
    }

    .topPanelLinks {
        display: flex;
        justify-content: space-between;
    }
    .topPanelLink a {
        color: #333;
    }
}

