@import "../../styles/common.module.scss";

.Post {
    @include paper;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;

    div.editor {
        width: 100%;
        height: 100%;
        border: 0;
        display: inline-block;
        overflow-y: auto;
        padding: 0 40px;
        @include styledScrollBar;
    }

    .postHeader {
        @include paper;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;
        padding: 0 20px;
    }

    .headerLeft {
        display: flex;
        align-items: center;
    }

    .title {
        font-weight: 500;
        font-size: 18px;
        margin-left: 15px;
        margin-right: 5px;
        cursor: pointer;
    }

    .backIcon {
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .notFoundPage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .notFoundText {
        font-size: 25px;
        font-weight: 500;
    }

    .publishBtn {
        margin-right: 10px;
    }
}

:global(.modeDark) {
    .Post {
        background-color: #333;

        * {
            color: #eee;
        }

        *::selection {
            background-color: #777;
        }

        .postHeader {
            background-color: #333;

            * {
                color: #eee;
            }
        }
    }

    :global(.ce-inline-toolbar) {
        background-color: #222;
        border: 1px solid #222;
    }

    :global(.ce-inline-tool:hover) {
        background-color: #444;
    }
    :global(.ce-inline-toolbar__dropdown:hover) {
        background-color: #444;
    }
    :global(.ce-conversion-tool:hover) {
        background-color: #444;
    }
    :global(.ce-settings__button:hover) {
        background-color: #444;
    }
    :global(.cdx-settings-button:hover) {
        background-color: #444;
    }
    :global(.ce-conversion-toolbar) {
        background-color: #222;
        border: 1px solid #222;
    }
    :global(.ce-toolbar__settings-btn) {
        background-color: #222;
        border: 1px solid #222;
    }
    :global(.ce-settings) {
        background-color: #222;
        border: 1px solid #222;
    }

    :global(.ce-block--selected .ce-block__content) {
        background-color: #444;
    }
}
