@import "../../styles/common.module.scss";

.Post {
    @include paper;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

    div.editor {
        width: 100%;
        height: 100%;
        border: 0;
        display: inline-block;
        overflow-y: auto;
    }

    div:global(.ql-toolbar) {
        @include paper;
        width: 100%;
        border: 0;
        display: inline-block;
        text-align: center;
    }

    div:global(.ql-editor) {
        max-width: 800px;
        padding: 12px 25px;
        // overflow: visible;
        margin: 0 auto;
        position: relative;
    }

    .postHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;
    }

    .headerLeft {
        display: flex;
        align-items: center;
    }

    .title {
        font-weight: 500;
        font-size: 18px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .backIcon {
        display: flex;
        align-items: center;
        border-radius: 5px;
    }

    .notFoundPage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .notFoundText {
        font-size: 25px;
        font-weight: 500;
    }

    .publishBtn {
        margin-right: 10px;
    }
}
