@import "../../styles/common.module.scss";

.Product {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.paper {
    @include paper;
}

.header {
    @include paper;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 20;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerActions {
    padding-right: 15px;
}

// .tabContent {
// }

.tab {
    @include styledScrollBarList;
    overflow: auto;
    height: 100%;
    min-height: 300px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainTab {
    @include paper;
    padding: 15px;
}

.textField {
    width: 100%;
}

.imageBlock {
    position: relative;
    border: 1px solid #bbb;
    border-radius: 5px;
    display: flex;
    padding: 10px;
}

.imageItem {
    position: relative;
}

:global(.DraggableBlock__dragging) {
    .imageItem {
        background-color: transparent;
    }
}

.imageActions {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 5px;
    right: 5px;
}

.saveBtn {
    position: relative;
}

.attributeBlock {
    @include paper;
    // border: 1px solid #bbb;
    border-radius: 5px;
    width: 670px;
    max-width: 100%;
    margin: 0 auto 20px;
}

.attributeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}

.tag {
    font-size: 18px;
    border: 1px solid #333;
    padding: 2px 6px;
    border-radius: 3px;
}

.attributeInstanceValue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
}

.editingProductVariant {
    border: 1px solid #bbb;
    margin: 10px;
    border-radius: 5px;
}

.editingProductVariantCard {
    padding: 10px;
}

.editingProductVariantTitle {
    font-size: 18px;
    font-weight: 500;

    .tag {
        margin-left: 15px;
    }
}

.addAttributeBtn {
    margin: 20px auto 30px;
}

.notFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notFoundText {
    font-size: 25px;
    font-weight: 500;
}

.galleryActions {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
}

.galleryContainer {
    width: calc(100% - 50px);
}

button.galleryActionBtn {
    background-color: rgba($color: #fff, $alpha: 0.7);
}

button.galleryActionBtn:hover {
    background-color: rgba(0, 0, 0, 0.3);

    svg {
        color: #fff;
    }
}

button.galleryAddImageBtn {
    @extend .galleryActionBtn;
}

.openPageBtn {
    margin-right: 10px;
}

.newAttributesList {
    background-color: #fff;
}

.newAttributeOption {
    min-width: 130px;
}

.descriptionEditor {
    @include styledScrollBar;
    border: 1px solid #bbb;
    border-radius: 5px;
    max-height: 400px;
    overflow: auto;
    padding: 15px 40px;
    min-height: 150px;
}

.CategoriesTab {
    margin: 0 -10px;
}

@media screen and (max-width: 869px) {

    // mobile
    .Product .header {
        justify-content: space-around;
    }

    .tab {
        overflow: visible;
        height: auto;
        padding-right: 0;
    }
}

:global(.modeDark) {

    .mainTab,
    .header,
    .paper,
    .attributeBlock {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .imageItem:hover {
        background-color: #555;
    }
}