@import "../../styles/common.module.scss";

.CategoryPage {
    position: relative;
    margin: 10px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}
.notFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notFoundText {
    font-size: 25px;
    font-weight: 500;
}

.header {
    @include paper;
    padding: 0 20px 0 0;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.fields {
    @include paper;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

:global(.modeDark) {
    .header,
    .fields {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}

.item {
    margin-bottom: 20px;
}

.textField {
    @extend .item;
}

.descriptionEditor {
    @extend .item;

    @include styledScrollBar;
    border: 1px solid #bbb;
    border-radius: 5px;
    max-height: 350px;
    overflow: auto;
    padding: 15px;
}

.imageBox {
    @extend .item;
    border-bottom: 1px solid #999;
}

.mainImage {
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
}
