.Page {
    display: flex;
    overflow: auto;
    box-sizing: border-box;
    padding: 1em;
    height: 100%;
    width: 100%;
}

// .Page::-webkit-scrollbar, nav::-webkit-scrollbar {
//     width: 0.5em;
//     height: 0.5em;
//   }

// .Page::-webkit-scrollbar-track, nav::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
//     border-radius: 30px;
// }

// .Page::-webkit-scrollbar-thumb, nav::-webkit-scrollbar-thumb {
//     background-color: #7F7F7F;
//     outline: 1px solid slategrey;
//     border-radius: 30px;
// }
