* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;

    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
}

.Layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    // max-width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(243,243,243);
}

.sidebar {
    min-width: 250px;
    // width: 20%;
    overflow: auto;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-width: 650px;
    display: flex;
}