@import "../../styles/common.module.scss";

.GalleryPicker {
    position: relative;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
    }

    button.galleryActionBtn {
        background-color: rgba($color: #fff, $alpha: 0.7);
    }

    button.galleryActionBtn:hover {
        background-color: rgba(0, 0, 0, 0.3);

        svg {
            color: #fff;
        }
    }

    button.galleryAddImageBtn {
        @extend .galleryActionBtn;
    }
}

.actions {
    margin-top: 10px;
}

.imageItem {
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.3s;
    background-color: #fff;
    border-radius: 5px;

    >div {
        width: 100%;
    }
}

.imageItem:hover {
    background-color: #ddd;
}

.imageItemContent {
    height: 100%;
}

div.popover {
    @include paperElevated;
    padding: 10px 15px;
}

.label {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}

:global(.modeDark) {
    .GalleryPicker {
        button.galleryActionBtn {
            background-color: #222;
            margin-right: 5px;
        }

        button.galleryActionBtn:hover {
            background-color: #555;

            svg {
                color: #fff;
            }
        }
    }

    .imageItem {
        background-color: #333;
    }

    .imageItem:hover {
        background-color: #555;
    }
}