.LoginPage {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9990;
    background-size: cover;
    background-position: center;
    background-color: #fff;
    color: #000;

    // :global(.MuiSvgIcon-root) {
    //     color: #fff;
    // }
}

.loginForm {
    width: 300px;
    max-width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    div.textField {
        margin-bottom: 15px;
    }
}

svg.loginIcon {
    width: 50px;
    height: 50px;
    // color: #fff;
    margin-bottom: 15px;
}

button.loginBtn {
    margin-top: 20px;
    // color: #fff;
}

.resetPassInstructions {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.forgotPassText {
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}


.logo {
    margin-bottom: 50px;
    opacity: 0.8;
}