jobs:
  build:
    docker:
      - image: circleci/node:12.20.1

    working_directory: ~/repo

    requires:
      - shellcheck

    steps:

      - checkout

      - restore_cache:
          keys:
          - cache-v2-{{ checksum "package.json" }}
          - cache-v2

      - run:
          name: Git reset source code
          command: |
            git reset --hard HEAD

      - checkout

      - run: 
        name: build
        command: npm run build
        environment:
          NODE_OPTIONS: --max_old_space_size=4096

      - save_cache:
          key: cache-v2-{{ checksum "package.json" }}
          paths:
            - ~/repo

      - run: 
        name: test server
        command: npm run test:server
        environment:
          NODE_OPTIONS: --max_old_space_size=4096

      - run: 
        name: test core frontend
        command: npm run test:frontend
        environment:
          NODE_OPTIONS: --max_old_space_size=4096

      - run: 
        name: test admin panel
        command: npm run test:admin
        environment:
          NODE_OPTIONS: --max_old_space_size=4096

      - run: 
        name: test cli
        command: npm run test:cli
        environment:
          NODE_OPTIONS: --max_old_space_size=4096
