jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:14.15.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - cache

      - run: npm run build

      - save_cache:
          key: cache
            - node_modules
            - plugins/customer-reviews/tsconfig.tsbuildinfo
            - plugins/main-menu/tsconfig.tsbuildinfo
            - plugins/product-filter/tsconfig.tsbuildinfo
            - plugins/product-showcase/tsconfig.tsbuildinfo
            - themes/blog/tsconfig.tsbuildinfo
            - themes/store/tsconfig.tsbuildinfo
            - system/admin-panel/tsconfig.tsbuildinfo
            - system/cli/tsconfig.tsbuildinfo
            - system/core/backend/tsconfig.tsbuildinfo
            - system/core/common/tsconfig.tsbuildinfo
            - system/core/frontend/tsconfig.tsbuildinfo
            - system/cromwella/tsconfig.tsbuildinfo
            - system/manager/tsconfig.tsbuildinfo
            - system/renderer/tsconfig.tsbuildinfo
            - system/server/tsconfig.tsbuildinfo
            - .cromwell
            - themes/blog/.cromwell
            - themes/store/.cromwell

      - run: cd system/server && npm run test
