body .pageItem {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    min-height: 45px;
}
.pageItemActions {
    display: flex;
    margin-left: 20px;
}