@import "../../../styles/common.module.scss";

body .pageItem {
    @include paper;
    min-width: 200px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
    transition: 0.3s;
}

.pageItemActions {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

body .activeIcon {
    display: none;
}

body .activeItem {
    background-color: #333;
    color: #fff;

    * {
        color: #fff;
    }

    .activeIcon {
        display: block;
        margin-right: 5px;
    }
}

body .activeItem:hover {
    background-color: #666;
}

.previewChangeContainer {
    padding: 15px;
}

:global(.modeDark) {
    .pageItem {
        background-color: #333;

        * {
            color: #eee;
        }

        &:hover {
            background-color: #555;
        }
    }

    .activeItem {
        background-color: #222;
    }
}
