@import "../../../styles/common.module.scss";

body .pageItem {
    @include paper;
    min-width: 200px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 0 0 0 15px;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
}
.pageItemActions {
    display: flex;
    margin-left: 20px;
}
