body .attrValue {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
}

body .attrValueChecked {
    box-shadow: none;
    border: 2px solid #333;
    font-weight: 900;
}

.attrValueIcon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.attrTitle {
    font-weight: 500;
}

.productAttributesValidate {
    .invalidAttrTitle {
        color: #aa2e25;
        font-weight: 500;
    }

    .invalidAttrValue {
        background-color: #ff000021;
        border: 2px solid #d9443a;

        .attrValueText {
            color: #aa2e25;
        }
    }
}