.content {
    display: flex;
}

.sidebar {
    width: 25%;
}
.main {
    width: 75%;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 220px;
    margin-left: 15px;
}

.pagination {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}