.content {
    display: flex;
}

.sidebar {
    width: 25%;
}
.main {
    width: 75%;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    width: 220px;
    margin-left: 15px;
}
.sortContainer {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 20px 20px;
}