.ProductPage {
    position: relative;

    .product {
        display: flex;
        margin: 20px 0;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }
    .mainBlock {
        display: flex;
        flex-direction: column;
        width: 75%; 
    }

    .imageAndCaptionBlock {
        display: flex;
        width: 100%;
    }

    .imageBlock {
        width: 60%;
    }
    .captionBlock {
        width: 40%;
        padding: 15px;
    }

    .productName {
        font-size: 26px;
        margin: 15px 0;
        font-weight: 500;
    }
    .productRating {
        position: relative;
        // margin: 10px 0;
    }
    .priceBlock {
        margin: 15px 0;
        display: flex;
        align-items: center;
    }

    .oldPrice {
        font-size: 22px;
        text-decoration: line-through;
        color: #aaa;
        margin-right: 10px;
        font-weight: 600;
    }
    .price {
        font-size: 26px;
       font-weight: 900; 
    }



    .infoBlock {
        display: flex;
        flex-direction: column;
        width: 25%;
    }
    .advantagesBlock {
        display: flex;
        flex-direction: column;
        border-left: 1px solid #ddd;
        border-radius: 0 0 0 15px;
        overflow: hidden;
    }
    .advantageItem {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px 15px;
        border-bottom: 1px solid #ddd;
    }
    .advantageItemHeader {
        font-weight: 400;
        font-size: 16px;
    }
    .advantageItemText {
        margin-left: 20px;
        flex-direction: column;
    }
    .infoBanner {
        margin-top: 20px;
    }


    .tabsBlock {
        position: relative;
        margin-top: 20px;
        padding-right: 20px;
    }

    .tab {
        margin-top: 10px;
        padding: 15px;
    }
}