@import "../../../styles/common.module.scss";

.ProductQuickView {
    @include paper;
    @include styledScrollBar;
    background-color: rgba(255, 255, 255, 0.9);
    width: 800px;
    min-height: 300px;
    max-height: 90vh;
    max-width: 95vw;
    overflow: auto;
    position: relative;

    .closeBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 5;
    }
}