@import "../../styles/common.module.scss";

.TagPage {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header {
    @include paper;
    padding: 0 20px 0 0;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.fields {
    @include paper;
    padding: 20px;
    margin-bottom: 15px;
}

.textField {
    margin-bottom: 15px;
}

.descriptionEditor {
    @include styledScrollBar;
    border: 1px solid #bbb;
    border-radius: 5px;
    max-height: 350px;
    overflow: auto;
    padding: 15px;
}

:global(.modeDark) {
    .header,
    .fields {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}