.CromwellAdminBlock {
    position: relative;
    // padding: 10px;
    // margin: 5px;
    // border: 2px dashed transparent;
    // border-radius: 5px;
    // transition-property: border, height, margin, padding;
    // transition-duration: 0.3s;
    user-select: none;
    // z-index: 5;
}
.CromwellAdminBlock:hover {

    > .dragFrame {
        border: 2px dashed #999;
        background-color: rgba(255,255,255,0.7);
    }
    
}

.adminPanelIcon {
    position: relative;
    // margin: 10px;
}

.cromwellBlockContent {
    position: relative;
    z-index: 5;
}

.dragFrame {
    display: block;
    position: absolute;
    z-index: 1;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    cursor: grab;
    border: 2px dashed transparent;
    border-radius: 5px;
    transition-property: border, height, margin, padding;
    transition-duration: 0.3s;
}

.dragFrame:hover {
    border: 2px dashed #999;
    background-color: rgba(255,255,255,0.7);
}

.adminPanelContentView {
    position: relative;
    display: flex;
    align-items: center;
}

// :global(.CromwellBlock__adminPanelView) {
//     display: flex;
//     align-items: center;
// }

