@import "../../styles/common.module.scss";

.PostList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;

    .filterItem {
        margin-right: 20px;
    }

    .authorSearch {
        input {
            // padding: 0 !important;
        }
    }
}

.listHeader {
    display: flex;
    background: #fff;
    margin-bottom: 13px;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: center;
    // padding: 10px 15px;
    flex-wrap: wrap;
}

.pageActions {
    margin-right: 10px;
}

.listWrapper {
    min-height: 400px;
    height: 100%;
    width: 100%;
}

.listItem {
    @include paper;

    display: flex;
    align-items: center;
    margin-bottom: 3px;
    transition: 0.3s;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
}

.listItem:hover {
    background-color: #f4f4f4;
    // border: 1px solid #ccc;
}

.list {
    @include styledScrollBar;
    // box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
    // border: 1px solid #ddd;
    border-radius: 10px;
    padding-right: 10px;
}

.listItemActions {
    display: flex;
    justify-content: flex-end;
}

.itemMain {
    display: flex;
}

.itemImage {
    @include bckgrCover;
    height: 60px;
    width: 90px;
}

.itemMainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.itemTitle {
    margin-bottom: 4px;
    font-weight: 600;
}
.itemAuthor {
    font-size: 12px;
}

.itemPublished {
    margin-bottom: 4px;
    font-weight: 500;
}
.itemCreate {
    font-size: 12px;
}
