@import "../../styles/common.module.scss";

.PluginSettingsLayout {
    @include paper;
    max-width: 900px;
    margin: 0 auto;
}

.icon {
    @include icon;
    margin-right: 10px;
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    min-height: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.version {
    font-size: 12px;
    color: #999;
    margin-left: 7px;
}

.main {
    height: 100%;
    overflow: auto;
    min-height: 50px;
    @include styledScrollBar;
    padding-right: 5px;
}

:global(.modeDark) {
    .PluginSettingsLayout {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}
