@import "../../styles/common.module.scss";

.CategoryList {
    padding: 20px 20px 0 20px;
    height: 100%;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
}

.listHeader {
    @include paper;
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.list {
    @include styledScrollBar;
    border-radius: 10px;
    padding-right: 10px;
}

.listContent {
    padding-bottom: 70px;
}

.treeList {
    @include paper;
    @include styledScrollBar;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.pageActions {
    display: flex;
    align-items: center;
}

.actionBtn {
    margin-right: 10px;
}

.listWrapper {
    min-height: 400px;
    height: 100%;
    width: 100%;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pageTitle {
    font-size: 20px;
}

:global(.modeDark) {

    .treeList,
    .listHeader {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .pageHeader {
        * {
            color: #eee;
        }
    }
}