@import "../../../../styles/common.module.scss";

.listItem {
    box-shadow: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: relative;
    min-height: 40px;
}

.listItem:nth-child(odd) {
    background-color: #eee;
}

.listItem:nth-child(even) {
    background-color: #fafafa;
}


.imageColumn {
    @include bckgrCover;
    height: 60px;
    width: 90px;
}

.listItem:hover {
    // background-color: #f4f4f4;
    background-color: var(text-indigo-700);
    background-color: rgba(224, 231, 255, var(--tw-bg-opacity)) !important;

    .listItemActions * {
        color: rgba(67, 56, 202, var(--tw-text-opacity));
    }
}

.columns {
    display: flex;
    width: calc(100% - 45px);
}

.column {
    display: flex;
    align-items: center;
    padding-right: 15px;
    font-size: 0.85rem;
}

.imageItemContainer {
    max-width: 42px;
    width: 100%;
    height: 50px;
    padding: 8px 0;
}

.imageItem {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.listItemActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 30px 0 0 30px;
    padding: 0 10px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.none {
    display: none;
}

.cellTooltipPaper {
    background-color: transparent !important;

    * {
        background-color: transparent !important;
    }
}

div.tooltip {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 15px;
    padding: 14px 20px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 20px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 0.8rem;
}


:global(.modeDark) {
    .listItem {
        background-color: #333;
        border-bottom: 1px solid #333;

        * {
            color: #eee;
        }
    }

    .listItem:hover {
        background-color: #555;
    }

    .listItemActions {
        background-color: rgba(0, 0, 0, 0.4);
    }
}