@import "../common.module.scss";
@import "../variables.scss";

.CheckoutPage {
    @include paper;
    display: flex;
    padding: 15px;
    margin: 15px 0;

    .inputZone {
        width: 60%;
        padding-right: 20px;
    }

    .cartZone {
        width: 40%;
        padding-left: 20px;
    }

    .signInBlock {
        display: flex;
        margin: 20px 0 20px 0;

        .singinBtn {
            margin-right: 15px;
        }
    }

    .emailBlock {
        width: 60%;
    }

    .pageTitle {
        margin: 15px 0;
        font-size: 32px;
    }

    .input {
        margin-bottom: 20px;
    }

    .delimiter {
        width: 100%;
        border-bottom: 2px solid #eee;
        margin: 20px 0px;
    }

    .subHeader {
        font-size: 23px;
        font-weight: 400;
        margin: 8px 0px;
    }

    .orderBtnWrapper {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.placedOrderContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    :global(.MuiSvgIcon-root) {
        font-size: 31px;
    }
    :global(.MuiAlert-message) {
        font-size: 21px;
        font-weight: 500;
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .CheckoutPage {
        flex-direction: column;

        .inputZone,
        .cartZone {
            width: 100%;
            padding: 0;
        }

        .pageTitle {
            order: 0;
        }
        .cartZone {
            order: 1;
        }
        .inputZone {
            order: 2;
        }
    }
}
