@import '../variables.scss';

.IndexPage {
    // display: flex;
    // flex-wrap: wrap;
    position: relative;

}

.advantagesBlockWrapper {
    background-color: #eee;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
}
.advantagesBlock {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.advantageItem {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 15px;
    width: 32%;
    border: 3px dashed $primary;
    border-radius: 15px;
}
.advantageItemHeader {
    font-weight: 600;
}
.advantageItemText {
     margin-left: 20px;
     flex-direction: column;
}

.mainBannerGallery {
   padding: 20px 0; 
}

.mainBlock {
    display: flex;
}
.mainSidebar {
    width: 30%;
    padding: 20px 10px 20px 0;
}

.mainContent {
    width: 70%;
    padding: 20px 0 20px 20px;
}
.mainSubBanners {
    display: flex;
    justify-content: space-between;
}
.mainSubBanner {
    width: 30%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    &::before {
        content: "";
        transition: 0.3s;
    }

    &:hover::before {
        position: absolute;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.sidebarBanner {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.mainShowcaseWrapper {
    margin: 20px 0;
    padding: 15px 0;
    // box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}