.ProductPage {
    position: relative;

    .breadcrumbs {
        // display: flex;
        margin-top: 20px;
    }
}

.reviewsBlock {
    max-width: 650px;
    margin-top: 40px;
}

.reviewsBlockTitle {
    font-size: 26px;
    margin-left: 25px;
}