@import '../../styles/common.module.scss';
@import '../../styles/variables.scss';

.SystemMonitor {
  @include paper;
  @include styledScrollBar;
  padding: 20px;
  max-height: 80vh;
  max-width: 90vw;
  width: 550px;
  overflow: auto;

  > p {
    margin: 8px 0;
  }
}

.infoHeader {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.pageViewList {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.specsList {
  @extend .pageViewList;
  margin-bottom: 40px;
}

.chart {
  width: 100%;
  height: 300px;
}

.chartBox {
  margin-bottom: 30px;
}

:global(.modeDark) {
  .SystemMonitor {
    background-color: #333;

    * {
      color: #eee;
    }
  }
}
