.selectIcon {
    display: none;
}

.muiSelect {
    padding: 7px 22px 7px 10px !important;
}

.wrapper {
    display: flex;
    margin: 0 10px;
}

.orderButton {
    position: absolute;
    right: 0;
    top: 22%;
    cursor: pointer;
}