@import "../../styles/common.module.scss";

.Attributes {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.list {
    width: 100%;
}

.listItem {
    @include paper;
}

.header {
    @include paper;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
}
