@import "../../styles/common.module.scss";

.Attributes {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
}

.list {
    @include styledScrollBarList;
}

.listItem {
    @include paper;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px 15px;
    z-index: 1;
}

.pageTitle {
    font-size: 20px;
}

@media screen and (max-width: 1069px) {

    // mobile
    .list {
        overflow: visible;
        height: auto;
        padding-right: 0;
    }
}

:global(.modeDark) {

    .listItem {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .header {
        * {
            color: #eee;
        }
    }
}