@import "../../styles/common.module.scss";

.Attributes {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
}

.list {
    @include styledScrollBarList;
    width: 100%;
    min-height: 300px;
    height: 100%;
    overflow: auto;
    padding-top: 10px;
}

.listItem {
    @include paper;
}

.header {
    @include paper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    z-index: 1;
}

@media screen and (max-width: 1069px) {
    // mobile
    .list {
        overflow: visible;
        height: auto;
        padding-right: 0;
    }
}

:global(.modeDark) {
    .listItem,
    .header {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}
