.swiperContainer {
    width: 100%;
    height: 100%;

    :global(.swiper-pagination) {
        :global(.swiper-pagination-bullet) {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 0.6;

            &:global(.swiper-pagination-bullet-active) {
                background-color: #000;
                opacity: 0.4;
            }
        }
    }
}

.swiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiperImage {
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.swiperThumb {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.swiperThumbActive {
    // border: 1px solid #ddd;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
}

.swiperZommedIn {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
}

.swiperPagination {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 10px;
}