@import "../../../styles/common.module.scss";

.pageSettings {
    @include paper;
    position: relative;
    padding: 15px;

    .textField {
        width: 100%;
        margin: 10px 0;
        background-color: #fff;
    }

    .saveBtn {
        position: relative;
        margin-top: 15px;
    }
}
