@import "../../../styles/common.module.scss";

.pageSettings {
    @include paper;
    @include styledScrollBar;
    position: relative;
    padding: 15px;
    max-width: 400px;
    overflow: auto;
    height: 100%;
    min-width: 300px;
    max-height: 90vh;

    .textField {
        width: 100%;
        margin: 10px 0;
        background-color: #fff;
    }

    .saveBtn {
        position: relative;
        margin-top: 15px;
    }
}

:global(.modeDark) {
    .pageSettings {
        background-color: #333;

        .textField {
            background-color: #333;
        }

        * {
            color: #eee;
        }
    }
}