.Coupons {
    position: relative;
}

.couponList {
    display: flex;
    flex-direction: column;
}

.coupon {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.couponActions {
    display: flex;
    align-items: center;
}