@import '../common.module.scss';

.Wishlist {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  @include styledScrollBar;
}

.wishlistProduct {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
