.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 4px;
    height: 100%;

    .removeBtn {
        margin-left: auto;
    }
}

.valueWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.placeholder {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    min-width: 10px;
    word-break: break-all;
}

.floatingLabel {
    font-size: 12px;
    top: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0.54);
}

.wrapper .imageWrapper {
    height: 60px;
    width: 60px;
    min-width: 60px;
    border-radius: 100%;
}

.image {
    height: 60px;
    width: 60px;
    min-width: 60px;
    cursor: pointer;
    background-position: center;
    background-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #aaa;

    * {
        color: #333;
    }

    > svg {
        opacity: 0.7;
    }
}

:global(.modeDark) {
    .placeholder {
        color: #ddd !important;
    }

    .floatingLabel {
        color: #ddd;
    }

    .image {
        * {
            color: #333;
            fill: #333;
        }
    }
}
