.wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .removeBtn {
        margin-left: auto;
    }
}

.placeholder {
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.floatingLabel {
    font-size: 12px;
    top: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0.54);
}

.image {
    height: 40px;
    width: 40px;
    min-width: 40px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

    > svg {
        opacity: 0.7;
    }
}
