.ReviewItem {
    margin: 20px 0;
    padding: 15px;

    .header {
        display: flex;
        align-items: center;
    }

    .userName {
        font-weight: 600;
        margin-right: 15px;
    }

    .title {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
    }

    .description {
        font-size: 16px;
    }
}