@import "../common.module.scss";

.ReviewItem {
  @include paper;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
}

.itemHeader {
  display: flex;
  align-items: center;
}

.itemUsername {
  margin: 0;
  line-height: 1.5;
  font-weight: 500;
  margin-right: 10px;
}

.itemTitle {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 1.5;
  margin: 10px 0;
}

.itemDescription {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.itemCreateDate {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}