@import "../common.module.scss";

.ReviewItem {
  @include paper;
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
}

.header {
  display: flex;
  align-items: center;
}

.userName {
  font-weight: 500;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.description {
  font-size: 16px;
}

.createDate {
  font-size: 16px;
}