@import "../../styles/common.module.scss";

.Sidebar {
    width: 100%;
    height: 100%;
    background: #333;
    padding: 10px 7px;
    background: linear-gradient(144deg, rgba(27, 0, 75, 1) 0%, rgba(52, 0, 46, 1) 100%);

    a {
        display: block;
        color: initial;
        text-decoration: initial;
    }

    .sidebarHeader {
        margin-bottom: 15px;
        margin-top: 5px;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 24px;
        margin-right: 10px;
        margin-left: 5px;
        opacity: 0.6;
    }

    div.SidebarLink {
        width: 100%;
        background: rgba(0, 0, 0, 0.1);
        margin-bottom: 7px;
        border-radius: 6px;
        overflow: hidden;
        transition: 0.3s;

        .ExpansionPanelSummary {
            width: 100%;
            min-height: 30px;
            padding: 0;
        }

        .ExpandMoreIcon {
            transition: 0.3s;
        }

        :global(.MuiAccordionSummary-content) {
            margin: 0;
        }
        :global(.MuiIconButton-edgeEnd) {
            margin: 0;
        }
    }

    .SidebarLink:hover {
        background: rgba(0, 0, 0, 0.4);
    }

    .sublinksContainer {
        width: 100%;
        padding: 5px 5px 0 15px;
    }

    .linkHead {
        display: flex;
        justify-content: space-between;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 9px;
        padding-right: 9px;
        color: #999;
        font-weight: 200;
    }

    .linkHeadContent {
        display: flex;
    }

    .sidebarlinkIcon {
        display: flex;
        margin-right: 10px;
    }

    .SidebarLinkActive {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        border-left: 3px solid #ccc;

        .linkHead {
            color: #fff;
        }

        .customIcon {
            opacity: 1;
        }
    }
}

.customIcon {
    @include bckgrContain;
    width: 24px;
    height: 24px;
    opacity: 0.6;
}
