.CList {
    width: 100%;
    height: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    

    :global(.ReactVirtualized__List:focus) {
        outline: none;
    }

    .rowPreloader {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scrollBox {
        display: block;
        // height: 100%;
        // overflow: auto;
        // padding-top: 10px;
    }

    .wrapper {
        display: block;
        // height: 100%;
    }
    .page {
        position: relative;
    }
    .pageItem {
        position: relative;
    }

    .pagination {
        display: flex;
        
    }
    .paginationContent {
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
    }
    .pageLink {
        display: flex;
        align-items: center;
        // border: 1px solid #ccc;
        border-radius: 20px;
        margin: 0 6px;
        cursor: pointer;
        padding: 2px 7px;
        color: #333;
        text-decoration: none;
        user-select: none;
    }

    .activePageLink {
        border: 2px solid #ccc;
        cursor: initial;
    }

    .paginationDisabledLink {
        opacity: 0.5;
        cursor: initial;
    }

    .paginationArrow {
        font-size: 30px;
    }

    .showMoreBtnContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .showMoreBtn {
        display: inline-block;
        border: 1px solid #333;
        min-width: 150px;
        padding: 4px 15px;
        border-radius: 6px;
        color: #333;
        transition: 0.3s;
        text-align: center;
        cursor: pointer;
    }
    .showMoreBtn:hover {
        color: #fff;
        background-color: #333;
    }

    .throbberBox {
        position: relative;

    }
    .listOverlay {
        display: none;
        position: absolute;
        z-index: 10;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgba(0,0,0,0.4);
    }

    .throbber {
        position: fixed;
        left: 50vw;
        top: 50vh;

        > svg {
            width: 130px;
            height: 130px;
        }
     
    }
}