@import "../../../styles/common.module.scss";

.listItem {
    @include paper;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    transition: 0.3s;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
}

.imageColumn {
    @include bckgrCover;
    height: 60px;
    width: 90px;
}

.listItem:hover {
    background-color: #f4f4f4;
}

.columns {
    width: 100%;
}

.listItemActions {
    display: flex;
    justify-content: flex-end;
}

:global(.modeDark) {
    .listItem {
        background-color: #333;
        border-bottom: 1px solid #333;

        * {
            color: #eee;
        }
    }
}