@import "../../../styles/common.module.scss";
@import "../../../styles/variables.scss";

.EntityTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.tableProperties {
    display: flex;
    justify-content: space-between;
}

.pageTitle {
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}

.tableHeader {
    @include paper;
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.tableColumnNames {
    width: 100%;
    display: flex;
    min-width: 20px;
}

.columnName {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
}

.columnNameText {
    cursor: pointer;
    font-weight: 500;
}

.pageActions {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.listWrapper {
    min-height: 300px;
    height: 100%;
    width: 100%;
}

.columnsConfigure {
    @include paperElevated;
    @include styledScrollBarList;
    padding: 5px;
    overflow: auto;
    max-height: 60vh;
    width: 250px;
}

.list {
    @include styledScrollBarList;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.listContent {
    padding-bottom: 70px;
}

.paginationContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    @include paper;
    padding: 5px 10px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popoverPaper {
    overflow: initial !important;
}

.orderButton {
    cursor: pointer;
    color: $primaryColor;
}

.searchQuery {
    font-size: 12px;
    color: #555;
}

:global(.modeDark) {

    .pagination,
    .tableHeader,
    .columnsConfigure {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .pageTitle {
        color: #eee;
    }
}