.EntityTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.tableProperties {
    display: flex;
    justify-content: space-between;
}


.listHeader {
    @include paper;
    display: flex;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.pageActions {
    margin-right: 10px;
}

.listWrapper {
    min-height: 300px;
    height: 100%;
    width: 100%;
}

.list {
    @include styledScrollBarList;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.listContent {
    padding-bottom: 70px;
}

.paginationContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    @include paper;
    padding: 5px 10px;
}

:global(.modeDark) {

    .pagination,
    .listHeader {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}