@import "../../styles/common.module.scss";

.PluginModal {
    @include paper;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
    padding: 20px 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0;
}

.version {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
}

.excerpt {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.64);
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.64);
}
