@import "../../styles/variables.scss";
@import "../../styles/common.module.scss";

.Footer {
    background: linear-gradient(144deg, #1b004b 0%, #34002e 100%);
    width: 100%;
    color: #fff;
}

.subscribe {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #ddd;
}

.subscribeText {
    display: flex;
    flex-direction: column;
}

.subscribeTitle {
    font-size: 30px;
}

.subscribeInputContainer {
    margin-left: 40px;
    display: flex;
}
.subscribeInput {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 8px 0 0 8px;
}
button.subscribeBtn {
    border-radius: 0 8px 8px 0;
}

.linksSection {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 900px;
    margin: 0 auto;
}

.linksBlock {
    display: flex;
    flex-direction: column;
}

.blockHeader {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.blockSubHeader {
    font-size: 16px;
    color: #fff;
}

.blockLink {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

@media screen and (max-width: $mobileBreakpoint) {
    .subscribe {
        flex-direction: column;
    }

    .subscribeText {
        margin-bottom: 15px;
    }

    .subscribeTitle {
        font-size: 24px;
    }
    .subscribeInputContainer {
        margin-left: 0;
    }

    .linksSection {
        flex-direction: column;
    }

    .linksBlock {
        align-items: center;
        margin-bottom: 15px;
    }
}