.LoadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  svg {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
}
