.swiper {
    overflow: visible;
}

.slide {
    width: 80%;
    /* height: 450px; */
}

.slide img {
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 20px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border: 6px solid #e4e4e4; */
    /* border-style: double; */
}

.image {
    user-select: none;
}