@import "../../styles/common.module.scss";

.PluginList {
    width: 100%;
}

.PluginList .addBtn {
    margin-bottom: 15px;
}

.pluginItem {
    @include paper;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.icon {
    @include icon;
    margin-right: 10px;
}

.info {
    display: flex;
    align-items: center;
}

.pluginName {
    font-size: 18px;
    font-weight: 500;
}

.actions {
    display: flex;
    align-items: center;
}
