@import "../../styles/common.module.scss";

.listItem {
    @include paper;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
    transition: 0.3s;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
}

.itemMain {
    display: flex;
}

.itemImage {
    @include bckgrCover;
    height: 60px;
    width: 90px;
}

.itemMainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    min-width: 20px;
}

.itemSubInfo {
    padding: 5px;
}

.itemTitle {
    margin-bottom: 4px;
    font-weight: 500;
}

.itemAuthor {
    font-size: 12px;
}

.itemPublished {
    margin-bottom: 4px;
    font-weight: 500;
}

.itemCreate {
    font-size: 12px;
}

.address {
    word-wrap: break-word;
}

.listItemActions {
    display: flex;
    justify-content: flex-end;
}

.orderCreate {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.address {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.listItem:hover {
    background-color: #f4f4f4;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:global(.modeDark) {
    .listItem {
        background-color: #333;
        border-bottom: 1px solid #333;

        * {
            color: #eee;
        }
    }
}