@import "../../styles/common.module.scss";
@import "../../styles/variables.scss";

.SettingsPage {
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.header {
    @include paper;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1;
}

.list {
    @include styledScrollBarList;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 20px 10px 5px 5px;
    min-height: 300px;
}

.field {
    width: 100%;
}

.imageField {
    @extend .field;
    border-bottom: 1px solid #999;
}

.subheader {
    @extend .field;
    // margin: 15px 0;
    margin-top: 15px;
    font-weight: 500;

    >h3 {
        font-size: 24px;
    }
}

div.textField {
    margin-bottom: 15px;
}

.category {
    @include paper;
    margin: 5px 0;
    padding: 5px;
}

.categoryHeaderWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.categoryLeft {
    display: flex;
    align-items: center;
}

.categoryTitle {
    font-size: 18px;
    font-weight: 500;
}

.categoryIcon {
    margin-right: 10px;
    opacity: 0.8;
}

.categoryContent {
    padding: 20px 20px 20px 55px;
}

.expand {
    transform: rotate(0deg);
    margin-right: 5px;
    transition: transform 0.3s;
}

.expandOpen {
    transform: rotate(180deg);
}

.currencyItem {
    @include paper;
    padding: 15px;
    padding-top: 5px;
}

.currencyItemHeader {
    display: flex;
    justify-content: space-between;
}

.currencyBadge {
    padding: 24px 0 0 27px;
}

.exportOptions {
    border-radius: 5px;
    border-left: 3px solid #aaa;
    @include styledScrollBar;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    width: 300px;
    margin: 15px 10px;
    padding: 0 10px;
}

.exportBtn {
    margin: 10px 0;
}

.cmsVersion {
    cursor: pointer;
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 12px;
    margin-top: 15px;
}

div.customEntity {
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 15px 0;
    padding: 15px;
}

.customFieldItem {
    display: flex;
}

.customFieldItemField {
    margin-right: 20px;
}

@media screen and (max-width: $mobileBreakpoint) {
    // mobile
    // .SettingsPage .list {
    //     overflow: visible;
    //     height: auto;
    // }
}

@media screen and (min-width: $mobileBreakpoint) {
    // desktop
}

:global(.modeDark) {

    .header,
    .category {
        background-color: #333;

        * {
            color: #eee;
        }
    }

    .currencyItem {
        background-color: #262626;

        * {
            color: #eee;
        }
    }

    .cmsVersion {
        color: #ccc;
    }
}