@import "../../styles/common.module.scss";

.SettingsPage {
    padding: 15px;
    display: flex;
    flex-direction: column;
    
    .header {
        @include paper;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 10px;
    }

    .list {
        @include paper;
        @include styledScrollBar;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        padding: 15px;
    }

    .field {
        margin-bottom: 15px;
    }

    .imageField {
        @extend .field;
        border-bottom: 1px solid #999;
    }

    .subheader {
        @extend .field;
        margin: 15px 0;
        font-weight: 500;
    }
}
