.cartModal {
    width: 600px;
    height: 500px;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    outline: none;

    .cartList {
        background-color: #fff;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .checkoutBtn {
        margin: 15px auto 0;
    }
}
