@import "../../../styles/common.module.scss";

.PageBuilder {
    @include paper;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    :global(.CromwellBlock_Type_container) {
        padding: 10px;
    }
}

.editorWidgetWrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
}

.editorWidgetWrapperCropped {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    pointer-events: none;
}

.editingPage {
    @include paper;
    display: block;
    width: 100%;
}

.frameEditor {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
