@import "../../../styles/common.module.scss";

.PageBuilder {
    display: flex;
    width: 100%;

    :global(.CromwellBlock_Type_container) {
        padding: 10px;
    }
}

.editingPage {
    @include paper;
    display: block;
    width: 100%;
}

.rootBlock {
}
