.PageBuilder {
    display: inline-block;
    width: 100%;

    :global(.CromwellBlock_Type_container) {
        padding: 10px;
    }
}

.actions {
    display: flex;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.rootBlock {
}
