@import "../../styles/common.module.scss";

.UserPage {
    position: relative;
    margin: 10px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.notFoundPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notFoundText {
    font-size: 25px;
    font-weight: 500;
}

.header {
    @extend .container;
    @include paper;
    padding: 5px 10px 5px 0;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.fields {
    @extend .container;
    @include paper;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.imageField {
    padding-bottom: 4px;
}

.image {
    border-radius: 100%;
}

:global(.modeDark) {

    .header,
    .fields {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}