@import "../../styles/common.module.scss";

.UserPage {
    position: relative;
    margin: 10px;

    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .notFoundPage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .notFoundText {
        font-size: 25px;
        font-weight: 500;
    }

    .header {
        @extend .container;
        @include paper;
        padding: 10px 20px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }

    .fields {
        @extend .container;
        @include paper;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .field {
        margin-bottom: 15px;
    }

    .imageField {
        @extend .field;
        border-bottom: 1px solid #999;
        padding-bottom: 4px;
    }

    .image {
        border-radius: 100%;
    }
}
