@import "../../styles/common.module.scss";

.UserList {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 20px 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
}

.list {
    @include styledScrollBarList;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.listHeader {
    @include paper;
    display: flex;
    min-height: 50px;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.filter {
    display: flex;
    align-items: center;
    // padding: 10px 15px;
    flex-wrap: wrap;
}

.pageActions {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.listWrapper {
    min-height: 400px;
    height: 100%;
    width: 100%;
}

.paginationContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    @include paper;
    padding: 5px 10px;
}

div.filterItem {
    margin: 10px;
    width: 150px;
}

:global(.modeDark) {
    .listHeader {
        background-color: #333;

        * {
            color: #eee;
        }
    }
}