@import "../../../styles/common.module.scss";

.watchedModal {
    height: 70vh;
    min-height: 500px;
    max-height: 90vh;
    max-width: 100vw;
    width: 900px;
    position: relative;

    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    outline: none;

    .watched {
        @include styledScrollBar;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 15px;
    }

    .closeBtn {
        position: absolute;
        top: 5px;
        right: 10px;
        z-index: 555;
        @include paper;
        border-radius: 100%;
    }

    .checkoutBtn {
        margin: 15px auto 0;
    }

    .modalTitle {
        font-size: 24px;
        margin: 10px 15px 20px 15px;
    }

    .productCard {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: $mobileBreakpoint) {
    .watchedModal {
        height: 90vh;
        width: 380px;

        .productCard {
            margin: auto;
            margin-bottom: 15px;
        }
    }
}