@import "../../../styles/variables.scss";

.ProductDetails {
    display: flex;
    margin: 20px 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.05), 0 0 8px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}
.productNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    font-size: 30px;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    width: 78%;
}

.imageAndCaptionBlock {
    display: flex;
    width: 100%;
}

.imageBlock {
    width: 55%;
}
.captionBlock {
    width: 45%;
    padding: 15px;
}

.productName {
    font-size: 26px;
    margin: 15px 0;
    font-weight: 500;
}

.ratingBlock {
    display: flex;
}
.ratingCaption {
    margin-left: 10px;
}

.priceBlock {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.oldPrice {
    font-size: 22px;
    text-decoration: line-through;
    color: #aaa;
    margin-right: 10px;
    font-weight: 600;
}
.price {
    font-size: 26px;
    font-weight: 900;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    width: 22%;
}
.advantagesBlock {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    border-radius: 0 0 0 15px;
    overflow: hidden;
}
.advantageItem {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
}
.advantageItemHeader {
    font-weight: 400;
    font-size: 16px;
}
.advantageItemText {
    margin-left: 20px;
    flex-direction: column;
}
.infoBanner {
    margin-top: 20px;
}

.tabsBlock {
    position: relative;
    margin-top: 20px;
    padding-right: 20px;
}

.tab {
    margin-top: 10px;
    padding: 15px;
}

.productAttributesBlock {
    margin: 5px 0;
}

.productActionsBlock {
    display: flex;
    flex-wrap: wrap;
}

body .attrValue {
    margin-right: 10px;
    margin-bottom: 10px;
}

.attrValueIcon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}

.reviewInputBox {

}

@media screen and (max-width: $mobileBreakpoint) {
    .infoBlock {
        display: none;
    }

    .mainBlock {
        width: 100%;
    }

    .imageAndCaptionBlock {
        flex-direction: column;
    }

    .imageBlock {
        width: 100%;
    }
    .captionBlock {
        width: 100%;
    }

    .tabsBlock {
        padding-right: 0;
    }
}
