.ThemeList {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    height: fit-content;
    padding: 20px;
    height: 100%;
}

.themeCard {
    width: 300px;
    margin: 0 20px 20px 0;
    background-color: #fff;
}

.themeImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
}

.themeActions {
    display: flex;
    flex-wrap: wrap;

    > button {
        margin-top: 10px;
        margin-right: 10px;
    }
}

.themeTitle {
    margin-right: 15px;
}
