@import '../../styles/variables.scss';

.Product {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 8px;
    transition-property: box-shadow, z-index;
    transition-duration: 0.3s;

    &:hover {
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1), 0 0px 24px 0 rgba(0, 0, 0, 0.1);
        z-index: 5;
    }

    .imageBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px 8px 0 0;
        height: 300px;
        width: 100%;
    }
    .image {
        width: 100%;
        object-fit: contain;
    }

    .caption {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 15px 20px 15px;
    }

    .productName {
        display: inline;
        color: $text;
        font-size: 20px;
        text-decoration: none;
        border-bottom: 2px solid #fff;
        transition: all 0.25s linear;
        position: relative;
        // border-bottom: 1px solid;
    }

    .productName:before {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: $primary;
        position: absolute;
        left: 0;
        bottom: -2px;
        transform-origin: left; 
        transform: scale(0);
        transition: 0.25s linear;
    }
      
    &:hover .productName:before {
        transform: scale(1);
    }
    &:hover .productName {
        color: $primary;
    }

    .priceCartBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .priceBlock {
        display: flex;
    }
    .price {
        font-weight: 400;
    }
    .oldPrice {
        text-decoration: line-through;
        opacity: 0.7;
        margin-right: 10px;
    }
}