.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin paper {
  // box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 11px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 5px;
}

@mixin paperElevated {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05), 0 0 20px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
}

.paper {
  @include paper;
}

@mixin styledScrollBar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    outline: none;
    border-radius: 30px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #666;
  }
}

@mixin styledScrollBarList {
  @include styledScrollBar;

  &::-webkit-scrollbar-track {
    // margin-top: 5px;
    margin-bottom: 5px;
  }
}

.styledScrollBarList {
  @include styledScrollBarList;
}

@mixin bckgrCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin bckgrContain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin icon {
  @include bckgrContain;
  width: 24px;
  height: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pageHeader {
  display: inline-block;
}

.pageContent {
  display: inline-block;
  height: 100%;
  overflow: auto;
}

.pageTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
}

// .pageTitle::before {
//   content: "";
//   width: 5px;
//   height: 5px;
//   background-color: #333;
//   margin-right: 8px;
//   display: block;
//   border-radius: 100%;
// }

// :global(.modeDark) {
//   .pageTitle::before {
//     background-color: #eee;
//   }
// }
