@import './variables.scss';
@import './common.module.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Apple-System', 'Arial', 'Helvetica', 'sans-serif';

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

a {
  display: block;
  color: initial;
  text-decoration: initial;
}

:global(.MuiButtonBase-root.MuiIconButton-root) {
  color: #333;
}

:global(div.react-grid-item.react-grid-placeholder) {
  background-color: #bbb;
  border-radius: 5px;
}

:global(.modeDark) {
  :global(div.react-grid-item.react-grid-placeholder) {
    background-color: #777;
  }

  :global(div.Mui-disabled) {
    -webkit-text-fill-color: #aaa;
  }

  :global(input.Mui-disabled) {
    -webkit-text-fill-color: #aaa;
  }

  :global(.MuiChip-root) {
    background-color: #555;
  }

  :global(.MuiInput-underline:before) {
    border-bottom: 1px solid #aaa;
  }

  :global(.MuiInput-underline:hover:not(.Mui-disabled):before) {
    border-bottom: 2px solid #fff;
  }

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #aaa;
  }

  :global(.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline) {
    border-color: #fff;
  }

  *::selection {
    background-color: #777;
  }

  :global(.MuiPaper-root.MuiMenu-paper) {
    background-color: #333;

    * {
      color: #eee;
    }
  }

  :global(.MuiList-root.MuiMenu-list) {
    @include styledScrollBar;
    background-color: #222;
    border-radius: 6px;

    * {
      color: #eee;
    }
  }

  :global(.MuiPaginationItem-page.Mui-selected) {
    background-color: #222;
  }

  :global(.MuiChip-root.MuiAutocomplete-tag) {
    background-color: #444;

    * {
      color: #eee;
    }
  }
}

:global(.crw-text-editor) {
  :global(.tc-wrap) {
    height: unset;
  }

  :global(.image-tool--loading .image-tool__image) {
    background-color: transparent;
    border: none;
  }
}

:global(.modeDark .crw-text-editor) {
  *::selection {
    background-color: #777;
  }

  * {
    color: #eee;
  }

  :global(.ce-inline-toolbar) {
    background-color: #222;
    border: 1px solid #222;
  }

  :global(.ce-inline-tool:hover) {
    background-color: #444;
  }

  :global(.ce-inline-toolbar__dropdown:hover) {
    background-color: #444;
  }

  :global(.ce-conversion-tool:hover) {
    background-color: #444;
  }

  :global(.ce-settings__button:hover) {
    background-color: #444;
  }

  :global(.cdx-settings-button:hover) {
    background-color: #555;
  }

  :global(.cdx-settings-button--active) {
    background-color: #444;
  }

  :global(.ce-conversion-toolbar) {
    background-color: #222;
    border: 1px solid #222;
  }

  :global(.ce-toolbar__settings-btn) {
    background-color: #222;
    border: 1px solid #222;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    filter: invert(100%);
  }

  :global(.codex-editor--narrow .ce-toolbox) {
    background-color: #222;
  }

  :global(.ce-settings) {
    background-color: #222;
    border: 1px solid #222;
  }

  :global(.ce-inline-tool-input) {
    background-color: #222;
    border: 1px solid #222;
  }

  :global(.tc-row--selected) {
    background-color: #555;
  }

  :global(.tc-popover) {
    background-color: #222;
    border: 1px solid #222;
  }

  :global(.ce-block--selected .ce-block__content),
  :global(.tc-cell--selected) {
    background-color: #666;
  }

  :global(.tc-add-column:hover),
  :global(.tc-add-row:hover),
  :global(.tc-add-row:hover:before) {
    background-color: #666;
  }

  :global(.tc-popover__item-icon) {
    color: #222;

    * {
      color: #222;
    }
  }

  :global(.tc-row--selected:after) {
    background-color: #777;
  }

  :global(.tc-toolbox__toggler) svg {
    background-color: #fff;
    border-radius: 5px;
    color: #333;

    * {
      color: #333;
    }
  }

  :global(.ce-code__textarea) {
    background-color: #222;
  }

  :global(.ce-conversion-tool) svg {
    fill: #333;
  }

  :global(.ce-toolbar) {
    background-color: #222;
  }

  :global(.cdx-button) {
    background-color: #222;
  }
}

body :global(.ct) {
  z-index: 99;
}

// body,
// :global(#root) {
//     overflow: hidden;
// }

:global(div.MuiToolbar-regular) {
  min-height: 50px;
}

:global(.MuiPickersDay-daySelected) p {
  color: #fff;
}

:global(.fontSize) {
  position: relative;
}

:global(.chart) {
  text {
    font-family: 'Untitled Sans', sans-serif;
  }
}

:global(.visx-axis-tick) {
  text {
    font-size: 12px;
    font-weight: 400;
    fill: #666666;
  }
}
