@import '../../styles/common.module.scss';

.NotificationCenter {
  position: relative;
}

div.list {
  padding: 15px;
  background-color: #f3f3f3;
  max-width: 350px;
  width: 300px;
  overflow: auto;
  max-height: 90vh;
  @include styledScrollBar;
}

div.item {
  @include paper;
  margin-bottom: 15px;
}

div.update {
  @extend .item;
  display: flex;
  flex-direction: column;
  padding: 15px;

  > p {
    margin: 6px 0 5px 0;
    font-size: 13px;
  }
}

.updateTitle {
  display: flex;
  align-items: center;
}

.expand {
  transform: rotate(0deg);
  margin-left: auto;
  transition: 0.3s;
}

.expandOpen {
  transform: rotate(180deg);
}

div.alert {
  width: 100%;
  font-size: 16px;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 15px;

  :global(.MuiAlert-icon) {
    padding: 0;
  }

  :global(.MuiAlert-message) {
    padding: 0;
  }
}

div.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.changelogTitle {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  > p {
    cursor: pointer;
    font-size: 13px;
  }

  > svg {
    cursor: pointer;
    margin-left: 5px;
  }
}

.changelogList {
  padding-bottom: 10px;

  p {
    font-weight: 500;
    margin-bottom: 6px;
  }

  br {
    // display: none;
    content: ' ';
    width: 100%;
    height: 1px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
  }

  li {
    margin-bottom: 6px;
    font-size: 13px;
  }
}

.list .updateProgress {
  margin: 15px 0 5px 0;
}

.warning {
  display: flex;
  align-items: center;
  margin-bottom: 9px;

  svg {
    color: #ff9100;
  }

  p {
    font-weight: 500;
  }
}

.command {
  background-color: #333;
  font-weight: 500;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 5px 0;
  line-height: 25px;
  display: block;
  word-break: break-all;
}

:global(.modeDark) {
  .list {
    background-color: #444;
    border-radius: 0;
  }

  div.item {
    background-color: #333;
    color: #eee;
  }
}
