.wiggler:nth-child(2n) {
  animation-name: wiggle1;
  animation-iteration-count: infinite;
  transform-origin: 50% 10%;
}

.wiggler:nth-child(2n-1) {
  animation-name: wiggle2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 30% 5%;
}

@keyframes wiggle1 {
  0% {
    transform: rotate(-0.17deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0.17deg);
    animation-timing-function: ease-out;
  }
}

@keyframes wiggle2 {
  0% {
    transform: rotate(0.17deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(-0.17deg);
    animation-timing-function: ease-out;
  }
}